- @title = "The Journey from Learning to Program to Becoming a Junior Developer"
- @metadescription = "In 2013, I quit my job doing Google AdWords for a Denver startup and took the leap into software development."
.row
  .small-12.columns.centered
    %h3
      The Journey from Learning to Program to Becoming a Junior Developer
.row
  .small-12.columns
  - @posts.each do |post|
    %p
      .panel
        - if session["logged_in_user"] == true
          = button_to "Edit", edit_blog_post_path(post.id), method: :get, class: "right"
        = link_to "#{post.title}", "/blog/#{post.slug}", style: "color: black; text-decoration: underline; font-size: 27px;"
        %p.tiny{style: "margin: 0px;"}
          Published: #{post.updated_at.strftime("%B %d, %Y")}
- if session["logged_in_user"] == true
  .row
    .small-12.columns.centered{style: "margin: 5px 0px 10px 0px;"}
      = button_to "Logout", logout_path