- if @post.errors.messages.present?
  .row
    .small-12.columns
      %h3{style: "color: darkred;"}
        - @post.errors.messages.each do |k,v|
          = "Error: Your chosen #{k.capitalize} " + "#{v.first}. Please change slug."
.row
  .small-12.columns
    =form_for @post do |f|
      %fieldset
        %legend Let's Write a Blog Post!
        .row
          .small-12.large-6.columns
            = f.label :title, "Blog Title"
            = f.text_field :title, class: "radius"
          .small-12.large-6.columns
            = f.label :slug, "Slug"
            = f.text_field :slug, class: "radius"
          .small-12.columns
            = f.label :metadescription, "Description"
            = f.text_field :metadescription, class: "radius"
          .small-12.columns
            = f.label :content, "Content"
            = f.text_area :content, rows: 10, style: "font-size: 18px;"
          .small-12.columns
            =submit_tag "Save Blog Post", class: "button radius right"
        .row
          .small-12.columns
            %code
              = h "<a target='_blank' href=''>LINK</a>"
              = h "<p class='bold'>"
.row
  .small-12.columns.centered{style: "margin: 5px 0px 10px 0px;"}
    = button_to "Logout", logout_path