.row{style: "margin-top: 10px;"}
  .small-12.columns
    %img{src: "http://www.patrickjones.me/blog/wp-content/uploads/2014/04/patrick-jones-ruby-rails-developer-api-specialist.png", height: 250, width: 250, style: "float: left; margin-right: 10px;"}
    %p
      Hello! My name is Patrick Jones. I'm a Junior Ruby on Rails developer based in Denver, Colorado. I have an SEO/SEM background and was co-mananging $150,000/month of AdWords spend for a Denver tech company before I decided to take the leap and learn software development. I was always envious of the tech guys launching new features on our app. I wanted similiar skills and now I have them!
    %p
      This is my Rails playground, where I implement new ideas and play with APIs. There's just something great up integrating with external APIs and extending the usability of my web apps.
    %p
      I'm a strong proponent of TDD with a side of integration testing using Capybara. I love HAML. It has made view template coding 10X easier. ERB was great, but I'm a HAML man now.
    %p
      Got a web app that needs to have Twilio text messaging capabilities? I can help! Need a customer billing platform with Stripe integration? Shoot me an email and let's get started!
    %p
      I am currently seeking a Jr Rails/Ruby Developer position. I'd love to work with a team of senior devs and help them solve busines problems while leveling up my Ruby knowledge as a result.
    %p
      I'm super stoked about the new AngularJS 2.0 rewrite. Yes, a lot is going to change from 1.3, but you know the Angular team has everything under control. I'll have a few Angular example apps up in the near future, and then hopefully some 2.0 examples up when they ship that code.
    %p
      If your company has an opening, let's talk! Denver, NYC, Buenos Aires, Berlin, it doesn't matter where. I've lived abroad before and I'd love to do it again.
    %p
      Viví y trabajé 14 meses en Buenos Aires durante la facultad y 16 meses en Miami después de Buenos Aires. Por eso, hablo español bastante bien y me considero bilingüe.
    %hr
.row
  .small-12.column
    %dl.accordion{data: {accordion: ''}}
      %dd.accordion-navigation
        =link_to "Click for Resume & CV", "#panel1", class: "centered"
        #panel1.content
          .row
            .small-12.columns.centered
              %h2.bold Patrick M Jones Resume & Curriculum Vitae
              %p
                pmichaeljones@gmail.com
                |
                =link_to "https://github.com/pmichaeljones", "https://github.com/pmichaeljones"
                |
                Denver, Colorado USA
          .row
            .small-12.column
              %h4 RUBY ON RAILS DEVELOPMENT EXPERIENCE
              %hr
          .row
            .small-12.large-4.columns
              %h5.bold Languages & Databases
              %ul.no-bullet
                %li HTML & CSS ( HAMl )
                %li Ruby
                %li Javascript ( JQuery )
                %li MySQL & PostgreSQL
            .small-12.large-4.columns
              %h5.bold Web & Front-End Frameworks
              %ul.no-bullet
                %li Rails
                %li Sinatra
                %li Zurb Foundation
                %li Twitter Bootstrap
            .small-12.large-4.columns
              %h5.bold Tools & Methodologies
              %ul.no-bullet
                %li TDD ( RSPC & Capybara )
                %li DVCS ( GitHub )
                %li RESTful API Experience
                %li Agile Development
          .row
            .small-12.column
              %h4 PERSONAL PROJECTS & CODE SAMPLES
              %hr
          .row
            .small-12.large-4.columns
              %h5.centered
                =link_to "DoggieDashboard.com", "https://doggiedashboard.com"
              %p
                DoggieDashboard is an online CRM for doggie daycares and pet boarding facilities. It allows business owners to keep track of their clients and pets, as well as send emails to clients from directly in the web app. Stripe billing integration is an upcoming feature branch. It fills a void in a niche industry that is currently being served by standard CD-ROM software. Site was built following TDD best-practices and currently has over 140 tests.
              %h5.centered
                =link_to "GitHub Repo", "https://github.com/pmichaeljones/dash"
              %hr
            .small-12.large-4.columns
              %h5.centered
                =link_to "GitHub Coding Leaderboard", "https://tealeaf-leaderboard.herokuapp.com/"
              %p
                This app was built to keep track of students coding progress at the TeaLeaf Academy. Coding is all about perseverance. Learning to program isn't that difficult, it just takes time. It utilizes the Nokogiri gem in order to scrape the GitHub profile page of each student, pulling various pieces of information from the page. This data is then used to update the coding leaderboard and adjust the student's commit count and longest streak number.
              %h5.centered
                =link_to "GitHub Repo", "https://github.com/pmichaeljones/tl_leaderboard"
              %hr
            .small-12.large-4.columns
              %h5.centered
                =link_to "Gadget Tracker Hackathon", "http://gadget-tracker.herokuapp.com/"
              %p
                Gadget Tracker is the result of a 1-person, 5-hour, hackathon that I attended in November 2014. The only requirement,
                %b"Create a web app for keeping track of digital devices & upload photos."
                Having never used the PaperClip gem before, I learned and implemented it during the last 45 minutes. We were not allowed to touch the repo after the 5-hour mark, so there are some errors I would like to change, but it remains as is.
              %h5.centered
                =link_to "GitHub Repo", "https://github.com/pmichaeljones/gadget-tracker"
              %hr
          .row
            .small-12.column
              %h4 PROFESSIONAL EXPERIENCE
              %hr
          .row
            .small-9.column
              %h5.bold Boost Fitness Marketing LLC ( <a href="http://boostfitnessmarketing.com/fitnesstexter">FitnessTexter</a> )
              %p{style: 'margin-left: 25px;'}
                Owner
              %ul{style: 'margin-left: 50px; margin-top: -15px;'}
                %li Designed & built text message marketing service used by 300+ fitness businesses
                %li Built business from scratch and achieved profitability in 6 months
            .small-3.column
              %h5.bold.right Denver, Colorado
              %p.right Mar 2011 - Present
          .row
            .small-9.column
              %h5.bold PaySimple.com
              %p{style: 'margin-left: 25px;'}
                Search Engine Marketing Associate
              %ul{style: 'margin-left: 50px; margin-top: -15px;'}
                %li Co-managed $175,000 monthly AdWords advertising budget
                %li Increased PaySimple.com's Google search result visibility using SEO
            .small-3.column
              %h5.bold.right Denver, Colorado
              %p.right Feb 2013 - Nov 2013
          .row
            .small-9.column
              %h5.bold Augeo Affinity Marketing
              %p{style: 'margin-left: 25px;'}
                Business Development & Marketing Intern
              %ul{style: 'margin-left: 50px; margin-top: -15px;'}
                %li Presented six business development projects to CEO & COO
                %li Researched text message marketing business models (leading to FitnessTexter)
            .small-3.column
              %h5.bold.right Minneapolis, Minnesota
              %p.right Nov 2010 - Jan 2011
          .row
            .small-9.column
              %h5.bold Loring Pasta Bar
              %p{style: 'margin-left: 25px;'}
                Server & Trainer
              %ul{style: 'margin-left: 50px; margin-top: -15px;'}
                %li Provided enjoyable restaurant experience to diverse clientele
                %li Paid for college tuition working 25 hours per week
            .small-3.column
              %h5.bold.right Minneapolis, Minnesota
              %p.right 2005 - 2011
          .row
            .small-12.column
              %h4 EDUCATION
              %hr
          .row
            .small-9.column
              %h5.bold University of Minnesota
              %p{style: 'margin-left: 25px;'}
                Curtis L. Carlson School of Management
                %br
                Bachelor of Science in Business: Marketing
                %br
                GPA: 3.45
            .small-3.column
              %h5.bold.right Minneapolis, Minnesota
              %p.right Graduation: May 2010


.row
  .small-12.columns
    = render 'shared/errors', obj: @message
    = form_for @message, data:{abide:''} do |f|
      %fieldset
        %legend Leave Me a Message!
        .row
          .small-6.large-3.column
            =f.label :sender
            =f.text_field :sender, class: 'radius', placeholder: 'Enter Name'
          .small-6.large-9.column
            =f.label :contents, "Message"
            =f.text_field :contents, class: 'radius', placeholder: 'Put Your Funny, Witty, Non-SPAM Message Here'
        .row
          .small-12.large-8.columns
            %p
              To prove you're not a SPAM robot, type the word
              %span.bold
                Stringer Bell
              in the box:
          .small-12.large-4.columns
            =hidden_field_tag :codeword, 'Stringer Bell', id:'codeword'
            =text_field_tag :code_word, nil, placeholder: "Put Codeword Here", class: "radius", required: "", data: { equalto: "codeword" }
            %small.error.centered
              Wrong answer! Now you've angered him.
              %img{src: "http://img4.wikia.nocookie.net/__cb20140916012537/thewire/images/0/05/The_Wire-_Stringer_Bell.jpg"}
        .row
          .small-12.columns
            =f.submit "Leave a Message", class: 'button radius'
            %p{style: "font-size: 14px;"}
              That's right. I'm a fan of <a href="http://en.wikipedia.org/wiki/The_Wire">The Wire</a>, and you should be too. What a show! Type the wrong codeword to get a good laugh.
        %hr
        %table
          %thead
            %tr
              %th(width=150) Sender
              %th(width=550) Message
              %th Date
          %tbody
          - @messages.each do |message|
            %tr
              %td
                = message.sender
              %td
                = message.contents
              %td
                = pretty_time(message.created_at)