<script type="text/javascript">
$(document).ready(function(){
  $('#twilio-logo').tooltip();
});
</script>
<div class="container">
  <%= render 'layouts/top_nav', title: "Welcome to the site!" %>
    <div class="col-md-12" style="margin: 10px; background: slate;">
      <div class="col-md-4">
        <%= image_tag "http://www.patrickjones.me/blog/wp-content/uploads/2014/04/patrick-jones-ruby-rails-developer-api-specialist.png", style: "float: left; margin-right: 10px;" %>
      </div>
      <div class="col-md-8">
        <p>Hello! My name is Patrick Jones. I'm a Junior Ruby on Rails developer based in Denver, Colorado.</p>
        <p>This is my Rails playground, where I implement new ideas and play with APIs.</p>
        <p>I write weekly posts on Rails development over on <a target="_blank" href="http://patrickjones.me/blog">my personal blog.</a></p>
        <p>I'm a strong proponent of TDD with a side of integration testing using Capybara.</p>
        <p>I love HAML. It has made view template coding 10X easier. ERB was great, but I'm a HAML man now.</p>
        <p>Looking for a contract Ruby on Rails developer, skilled in external API integration? Please contact me: <strong>pmichaeljones[at]gmail.com</strong></p>
        <p>I am currently seeking a Jr Rails Developer position. I'd love to work with a team of senior devs and level up my Rails knowledge. Wouldn't mind working with AngularJs as well. If your company has an opening, let's talk! Denver, NYC, Buenos Aires, Berlin, it doesn't matter where. I've lived abroad before and I'd love to do it again.</p>
        <!-- <p>As for contract work, I love traveling. I'm currently taking contract work in US & international cities. Airfare, a hotel during my stay, a daily per diem, and a list of cool nightlife spots in your city is all I ask in return. :)</p> -->
        <p>Though this site is currently built using BootStrap, I have since moved over to Foundation. I prefer their grid layout and design flexibility. I'm not a designer. I prefer to work with great designers. However, when called upon, I can whip up a pretty attractive UI using Foundation and custom CSS.</p>
      </div>
    </div>
    <!-- <div class="col-md-12", style="margin-bottom: 10px;">
      <h3>External APIs that I have Worked With:</h3>
      <hr/>
      <img src="http://www.patrickjones.me/blog/wp-content/uploads/2014/09/twilio-small-logo.png" id="twilio-logo" data-toggle="tooltip" data-placement="top" title="twilio" data-original-title="Twilio">
      <hr/>
    </div> -->
    <br/>
    <div class='col-md-12'>
      <%= render 'shared/errors', obj: @message %>
      <div class='panel panel-primary'>
        <div class='panel-heading'>
          <h3 class='panel-title'>Leave Me a Message</h3>
        </div>
        <div class='panel-body'>

          <%= form_for @message do |f| %>
          <div class='form-group'>
            <div class='input-group'>
              <div class='input-group-addon'><span class='glyphicon glyphicon-arrow-right'></span></div>
               <%= f.text_field :sender, class: 'form-control', placeholder: 'Enter Name' %>
            </div>
          </div>
          <div class='form-group'>
            <div class='input-group'>
              <div class='input-group-addon'><span class='glyphicon glyphicon-envelope'></span></div>
               <%= f.text_field :contents, class: 'form-control', placeholder: 'Enter Message' %>
            </div>
          </div>
            <br/>
            <%= f.submit "Leave a Message", class: 'btn btn-primary' %>
          <% end %>

          <h3>Messages:</h3>
          <table class='table'>
            <thead>
              <tr>
                <th>From</th>
                <th>Message</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <% @messages.each do |msg| %>
                <tr>
                  <td><%= msg.sender %></td>
                  <td><%= msg.contents %></td>
                  <td><%= pretty_time(msg.created_at) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          </div>
      </div>
    </div>
  </div>

