.row
  .small-12.columns.centered
    %h3 Here Are Your Words
    %hr
    - @words.each do |x|
      %span{id: "word-#{x.id}", style: "border: 1px solid black; background: tomato; color: white; margin-left: 2px; padding: 10px;"}
        = "#{x.word}"
        =form_tag word_path(x.id), method: :delete, remote: true, style: "display: inline;" do 
          =submit_tag "X"
    %hr
.row
  .small-4.small-centered.columns.centered
    = form_tag words_path do 
      = label_tag :word, "Let's Create a Word"
      = text_field_tag :word, nil, class: "radius", placeholder: "Type word here"
      = text_field_tag :code, nil, class: "radius", placeholder: "Password"
      = submit_tag "Create Word", class: "button"