.container

  %h4 Welcome to the Twilio Reminders API Playground
  %hr
  .col-md-6
    - if @twilio_reminder == nil
    - else
      = render 'shared/errors', obj: @twilio_reminder
    = form_for @twilio_reminder do |f|
      .form
        .form-group
          .input-group
            .input-group-addon
              %span.glyphicon.glyphicon-arrow-right
            = f.text_field :client, class: 'form-control', placeholder:"Customer Name"
        .form-group
          .input-group
            .input-group-addon
              %span.glyphicon.glyphicon-arrow-right
            = f.text_field :event, class: 'form-control', placeholder:"Item to Be Picked Up [Sandwich, dry cleaning, etc]"
        .form-group
          .input-group
            .input-group-addon
              %span.glyphicon.glyphicon-arrow-right
            = f.text_field :phone_number, class: 'form-control', placeholder:"Phone Number [Written as 555-555-5555]"
        = f.submit "Create Event", class:'btn btn-primary'
      %br
      %h4 Current Events Waiting for Reminders
      - @reminders.each do |r|
        .alert.alert-info{ :style => "overflow: auto;"}
          .pull-right{ :style => "float: left;"}
            - if r.message_sent == true
              %button.btn.btn-default{:disabled => "disabled", :style => "margin-bottom: 5px;"} Reminder Sent
              %br
            - else
              = link_to "Ready for Pickup", send_reminder_path(r), { :style => "margin-bottom: 5px;", :class => 'btn btn-success'}
              %br
            = link_to "Remove Item", delete_reminder_path(r), class:  'btn btn-danger'
          %p
            %b Client Name:
            = r.client
          %p
            %b Item to be Picked Up:
            = r.event

