- @title = "CrossFit Box Business Name Idea Generator"
- @metadescription = "The FitnessTexter CrossFit box business name generator gives you hundreds of possible business names for your gym."
.row
  .small-12.columns.centered
    %h2 CrossFit Box Business Name Generator
  %hr
.row
  .small-12.columns
    %p Using the #{ link_to 'Big Thesaurus API', 'http://words.bighugelabs.com/', :target => 'blank'}, I built the CrossFit name generator below.

    %p
      Simply input a "starting word" for your CrossFit box business name. Use words like
      %b angry, fierce, strong,
      etc.

    %p Click "Generate Names" and a list of possible CrossFit box names will be generated.

    %p If you need any fitness marketing help, check out #{ link_to 'FitnessTexter', 'http://boostfitnessmarketing.com/fitnesstexter', :target => 'blank'}, the text message marketing service used by over 300 fitness businesses to increase their membership volume.
    %p
      %a{:href => "http://boostfitnessmarketing.com/fitnesstexter"}
        %img{:src => "http://boostfitnessmarketing.com/wp-content/uploads/FitnessTexter-Website-Icon.png"}
    %p{style: 'font-size: 10px;'}
      CrossFit is a registered trademark of CrossFit, Inc. All products mentioned are registered trademarks or trademarks of their respective companies. Their use does not imply any affiliation with, endorsement by, or certification by the respective trademark holder.
      %a{href: 'http://www.crossfit.com/how-to-affiliate', target: '_blank', title: 'Become CrossFit Affiliate'}Click here to become a CrossFit affiliate.
  %hr
.row
  .small-12.columns
    = form_tag crossfit_name_generator_index_path, action: "create", remote: "true" do
      %fieldset
        %legend CrossFit Name Generator
        .row
          .small-12.column.centered
            %p{style: 'font-size: 15px; font-weight: bold;'}
              The CrossFit gym name generator is free and always will be. If you enjoyed using it, please "Like" my page below. That's all I ask.
            %p{style: 'font-size: 13px; font-weight: bold;'}
              Thanks -Patrick
            %p
              %a{ :href => "/crossfit_name_generator/new" } CrossFit Business Name Generator | Powered by FitnessTexter
            %p{:style => "margin-left: 50px;"}
              <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FFitnessTexter&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80&amp;appId=1386285168291466" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:80px;" allowTransparency="true"></iframe>
          %hr
          .small-6.small-centered.columns
            = text_field_tag :query, nil, class: "radius", placeholder: "Enter adjective like fierce, wild, strong, brave, etc"
          .small-12.columns.centered
            = submit_tag('Generate Names', class: "button radius alert")
            %br
            %p
              Used by future CrossFit owners
              %b= @counter.count
              times and counting!
          %hr
          .panel-body#crossfit-names{ :style => "text-align: center;"}
  %hr
.row
  .small-12.columns
    %h4 How It Works
    %p
      1. Input word is sent to Big Thesaurus API via a Rails AJAX request using the 'net/http' library
      %br
      2. Big Thesaurus looks up word, and if it exists, it sends back a JSON file with synonyms, antonyms, etc
      %br
      3. JSON file is parsed for just the synonyms hash
      %br
      4. Hash is set as an instance variable
      %br
      5. Iterate over the instance variable of synonyms, prepending the word "CrossFit" to each.
    %hr
