= render :partial => 'layouts/top_nav', :locals => { :title => "CrossFit Name Generator" }

.well
  %p Using the #{ link_to 'Big Thesaurus API', 'http://words.bighugelabs.com/', :target => 'blank'}, I've created the CrossFit name generator below.

  %p Simply input a "starting word" for your CrossFit box business name. Use a words like angry, fierce, force, etc.

  %p Click "Generate Names" and a list of possible CrossFit box names will be generated.

  %p This service is provided by Boost Fitness Marketing, the creators of #{ link_to 'FitnessTexter', 'http://boostfitnessmarketing.com/fitnesstexter', :target => 'blank'} the text message marketing service used by over 300 fitness businesses to increase their membership volume.

%hr
  .well
    %h5 How It Works
    %p
      1. Input word is sent to Big Thesaurus API via a Rails AJAX request using the 'net/http' library
      %br
      2. Big Thesaurus looks up word, and if it exists, it sends back a JSON file with synonyms, antonyms, etc
      %br
      3. JSON file is parsed for just the synonyms hash
      %br
      4. Hash is set as an instance variable
      %br
      5. Iterate over the instance variable of synonyms, prepending the word "CrossFit" to each.
%hr

.col-md-4
  .panel.panel-primary
    .panel.panel-heading
      %h3.panel-title CrossFit Name Generator
    .panel-body
      %p Please use singular adjectives such as: funny, crazy, powerful, etc.
      = form_tag crossfit_name_generator_index_path, action: "create", remote: "true" do
        .form-group
          .input-group
            .input-group-addon
              %span.glyphicon.glyphicon-arrow-right
            = text_field_tag :query, nil, :class => 'form-control', :placeholder => "Enter Search Term"
        = submit_tag('Generate Names', class:'btn btn-primary')
.col-md-8
  .panel.panel-primary
    .panel.panel-heading
      %h3.panel-title Possible CrossFit Names
    .panel-body#crossfit-names{ :style => "text-align: center;"}
