= render :partial => 'layouts/top_nav', :locals => { :title => "CrossFit Name Generator" }

.well
  %p Using the Big Thesaurus API, I've created the CrossFit name generator below.

  %p Simply input a "starting word" for your CrossFit box business name. Use a words like angry, fierce, force, etc.

  %p Click "Generate Names" and a list of possible CrossFit box names will be generated.

  %p This service is provided by Boost Fitness Marketing, the creators of #{ link_to 'FitnessTextery', 'http://boostfitnessmarketing.com/fitnesstexter'} the text message marketing service used by over 300 fitness businesses to increase their membership volume.

%hr

.col-md-3
  .panel.panel-primary
    .panel.panel-heading
      %h3.panel-title CrossFit Name Generator
    .panel-body
      = form_tag crossfit_name_generator_index_path, action: "create", remote: "true" do
        .form-group
          .input-group
            .input-group-addon
              %span.glyphicon.glyphicon-arrow-right
            = text_field_tag :query, nil, :class => 'form-control', :placeholder => "Enter Search Term"
        = submit_tag('Generate Names', class:'btn btn-primary')
.col-md-9
  .panel.panel-primary
    .panel.panel-heading
      %h3.panel-title Possible CrossFit Names
    .panel-body#crossfit-names
