!!! 5
%html(lang="en-US")
  %head
    - if @title
      %title
        = @title
    - else
      %title
        - @title = "Patrick Jones | Junior Ruby on Rails Developer"
        = @title
    - @metadescription = "Patrick Jones is a bilingual Ruby on Rails developer who enjoys traveling, microbrews, yerba mate, and developing API mashups." unless @metadescription
    %meta{:name => 'description', :content => "#{@metadescription}"}
    %meta{:name => "google-site-verification", :content => "56aFqUX0z3mLGpJpeACTFmg6SahvVzpUQjbCImcjKtU"}
    %meta{:property => "og:description", :content => "#{@metadescription}"}
    %meta{:charset => "UTF-8" }
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    %meta{:property => "og:title", :content => "#{@title}" }
    %meta{:property => "og:type", :content => "website" }
    %meta{:property => "og:image", :content => "http://www.patrickjones.me/patrick-jones-ruby-rails-developer-api-specialist.png" }
    %meta{:property => "og:url", :content => "http://www.patrickjones.me" }
    = javascript_include_tag "https://code.jquery.com/jquery-3.3.1.min.js", integrity: "sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin:"anonymous"
    = favicon_link_tag "favicon.ico"
    = csrf_meta_tag
    = javascript_include_tag "vendor/modernizr"
    = render 'shared/analytics'
    = stylesheet_link_tag "application"
    %link(href='https://fonts.googleapis.com/css?family=Raleway:400,200,700' rel='stylesheet' type='text/css')
  %body
    %header
      = render 'shared/header'
    %section
      = render 'shared/flash_messages'
      = yield
    %footer
      = render 'shared/footer'