!!! 5
%html(lang="en-US")
  %head
    - if @title
      %title
        = @title
    - else
      %title
        - @title = "Patrick Jones | Junior Ruby on Rails Developer"
        = @title
    %meta{:charset => "UTF-8" }
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    %meta{:property => "og:title", :content => "#{@title}" }
    %meta{:property => "og:type", :content => "website" }
    %meta{:property => "og:image", :content => "https://www.facebook.com/photo.php?fbid=10105092346458810" }
    %meta{:property => "og:url", :content => "http://www.patrickjones.me" }
    %meta{:property => "og:description", :content => "Patrick Jones is a bilingual Ruby on Rails developer who enjoys traveling, microbrews, yerba mate, and developing API mashups."}
    - if @metadescription
      %meta{:name => 'description', :content => "#{@metadescription}"}
    - else
      %meta{:name => 'description', :content => "Patrick Jones is a bilingual Ruby on Rails developer who enjoys traveling, microbrews, yerba mate, and developing API mashups."}
    = favicon_link_tag "favicon.ico"
    = csrf_meta_tag
    = javascript_include_tag "vendor/modernizr"
    = render 'shared/analytics'
    = stylesheet_link_tag "application"
    %link(href='https://fonts.googleapis.com/css?family=Raleway:400,200,700' rel='stylesheet' type='text/css')
  %body
    %header
      = render 'shared/header'
    %section
      = render 'shared/flash_messages'
      = yield
    %footer
      = render 'shared/footer'